@import "../../assets/styles/global.scss";

.card {
  border-top: none;
  border-radius: 0;
}

.perfil-img {
  width: 5rem;
  height: 5.2rem;
}

.texto {
  border: 1px solid #8bc34a !important;
  border-radius: 10px !important;
  resize: none;
}

#botao-publicar {
  width: 164px;
  height: 28px;
  background: #6033aa;
  border: #6033aa;
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
