@import "../../assets/styles/global.scss";

.card {
    border-top: none !important;
    border-radius: 0 !important;
}


.perfil-img {
    width: 6rem !important;
    height: 5.8rem !important;
}

#botao {
    background: #76BB4C !important;
    border: #76BB4C !important;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin: 5px;
}