@import "../../assets/styles/global.scss";

body {
  background-image: url(../../assets/img/background.png);
  justify-content: center;
}

.imgLogo {
  padding: 35px 35px 20px 35px;
  max-width: 80%;
}

.cadastro {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  padding-bottom: 30px;
}

.botao {
  font-size: 1.2rem;
  color: black;
  background-color: #76bb4c !important;
  border: #76bb4c !important;
  border-radius: 0.625rem;
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.cadastro {
  color: #000000;
  margin-bottom: 20px;
}
