@import "../../assets/styles/global.scss";

body {
  background-image: url(../../assets/img/background.png);
  justify-content: center;

}

#card {
  width: 80%;
}

::placeholder {
  text-align: center;
  // font-size: 24px;
}

.logo-img {
  width: 32% !important;
}

.botao {
  font-size: 1.2rem;
  color: black;
  background-color: #76bb4c !important;
  border: #76bb4c !important;
  border-radius: 0.625rem;
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

a {
  text-decoration: none;
  color: #555555;
}