@import "../../assets/styles/global.scss";

body {
  background-image: url(../../assets/img/background.png);
  justify-content: center;

}

::placeholder {
  text-align: center;
  // font-size: 24px;
}

.logo-img {
  width: 32% !important;
}

.buttonEntrar {
  background-color: $accent-color !important;
  border: $accent-color !important;
  border-radius: 10px;
}