@import "../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Questrial, sans-serif;
    //background-color: aqua;
    // background-repeat: no-repeat;
    background-size: cover;
}
