$dark-primary-color: #512DA8;
$light-primary-color: #D1C4E9;
$primary-color: #673AB7;
$text-icons: #FFFFFF;
$accent-color: #8BC34A;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD; 

@import "../node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Questrial, sans-serif;
    //background-color: aqua;
    // background-repeat: no-repeat;
    background-size: cover;
}
